.taskDetailsContainer {
    padding: 1rem;
    background-color: white;
}

.triggerContent {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.triggerMain {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* flex: 1; */
    max-width: 90%;
}

.taskTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.stepCount {
    font-size: 0.875rem;
    color: #6b7280;
    padding: 0.25rem 0.5rem;
    background-color: #f3f4f6;
    border-radius: 0.375rem;
}

.taskInfo {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #4b5563;
}

.icon {
    color: #6b7280;
}

.description {
    padding: 0.75rem;
    background-color: #f9fafb;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: #374151;
    line-height: 1.5;
}

.actionButtons {
    display: flex;
    gap: 0.5rem;
    flex-shrink: 0;
    flex: 1;
}



.actionButton,
.resetButton {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.actionButton {
    color: #6b7280;
}

.actionButton:hover {
    background-color: #f3f4f6;
    color: #374151;
}

.resetButton {
    color: #dc2626;
}

.resetButton:hover {
    background-color: #fee2e2;
    color: #b91c1c;
}